@import "../../App.css";

.nav {
  background-color: var(--gray) !important;
}

.appTitle {
  color: var(--green);
  font-family: "TacOne", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.filterButton {
  border-start-start-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  cursor: pointer;
  color: var(--green) !important;
  background-color: var(--background) !important;
}
.searchButton {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  cursor: pointer;
  color: var(--green) !important;
  background-color: var(--background) !important;
}

.searchInput {
  width: 40vw !important;
  padding: 10px !important;
  background-color: var(--background) !important;
  color: var(--white) !important;
}

.searchInput::placeholder {
  color: var(--green) !important;
}
